body {
  color: #546270;
  background-color: white;
}

#topmenu {
  background-color: white;
  box-shadow: none;
  padding: 0;
  margin: 10px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
}

#topmenu .item {
  color: #546270;
}

#title {
  padding: 20px;
  color: #415161;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.center-section {
  background-color: white;
  background-size: cover;
  height: 500px;
  color: #546270;
  padding: 40px;
}

.main.column {
  position: relative;
  width: 50%;
  padding: 0 20px;
}

.main.column p {
  padding: 50px;
  text-align: left;
}

.main.column img {
  width: auto;
  height: 70%;
  max-width: 100%;
}

.footer-wrapper {
  z-index: 2;
  clear: left;
  border-top: 1px solid #ffffff;
  background-color: #415161;
  padding: 50px 0;
  text-align: left;
  color: white;
}

#footer .column h4 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  color: white;
}
